__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/

build/
*.apk
*.apkm
*.jar
*.mpp
*.part
*.keystore

.env
.env.local

.vscode/
.idea/

.ruff_cache/
.mypy_cache/
.pytest_cache/
*.egg-info/
